
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'customer/style.css' %}" />
    <title>customer</title>
</head>
<body>
<img src="{% static 'logo/error404.png' %}" alt="allinfo"/>
<p> this customer page view from templet >>customer>>customer.html</P>
{#{ % for x in cars %}#}
{#  <li>My name is:  {{X.brand}}</li>#}
{#  <li>my age: {{ X.model}}</li>#}
{#  <li>my acadamy roll is: {{X.year }}</li>#}
{#{ %endfor% }#}
{#{{ brand }} {{ model }}{{ year }}#}
{% for i in data %}

    {{ i }}

{% endfor%}


 {% if cus_info %}

     <table>

     <tr>
        <th>id</th>
        <th>first name</th>
         <th>last name</th>
        <th>email</th>
     </tr>

     {% for i in cus_info %}
      <tr>
          <td>{{ i.id }}</td>
          <td>{{ i.first_name }}</td>
          <td>{{i.last_name}}</td>
          <td>{{i.email}}</td>
      </tr>
    {% endfor %}
     </table>

{% else %}
<p>The dataset is empty </p>

{% endif %}


<br>
<a href="{% url 'dashboard' %}">Back</a>
</body>
</html>